/.github                    export-ignore
tools/                      export-ignore
tools/*                     binary
/.gitattributes             export-ignore
/.gitignore                 export-ignore
/.php-cs-fixer.dist.php     export-ignore